
#demo, #example, #demo0, #example0 { 
 	height: 150px;
 	width: 450px;
 	font-size: 12px;
 	text-align: left;
}

td.highlight {
        font-weight: bold;
        color: blue;
    }

/* Ensure that the demo table scrolls 
div { white-space: nowrap; }

tr { height: 50px; }
*/